<div class="navbar-default" > 
    <ul class="nav navbar-nav navbar-right navbar-default menu">
        <li ng-class="modulo == 1 ? 'active':''"><a ng-click="modulo = 1" href="#/fuentes">Fuentes feeds</a></li>
        <li ng-class="modulo == 2 ? 'active':''"><a ng-click="modulo = 2" href="#/crawl">Rastreador</a></li>
        <li ng-class="modulo == 4 ? 'active':''"><a ng-click="modulo = 4" href="#/exploracion">Explorar contenidos</a></li>
        <li ng-class="modulo == 3 ? 'active':''"><a ng-click="modulo = 3" href="#/configuracion/sw">Configuración</a></li>


    </ul>
</div>
